<a href="https://colab.research.google.com/github/GeethanjaliM30/Python-SMP-Assig/blob/main/Python_SMP_Assig4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Design a class called Car which has the attributes Model, Name, Year, Color and
Horsepower (Assume the Data Types accordingly).
Write the Initialisation function and also write functions to:
● Display all the attributes of the car
● Change the name of the car
● Change the color of the car

In [12]:
class Car:
  wheels=4

  def __init__(self,model,name,year,color,horsepower):
    print("Car: ")
    self.model=model
    self.name=name
    self.year=year
    self.color=color
    self.horsepower=horsepower

  def attributes(self):
    print("Car attributes :", self.model,self.name,self.year,self.color,self.horsepower,sep=",")  

  def updatename(self,name):
   self.name=name

  def updatecolor(self,color):
    self.color=color

In [13]:
car=Car("J200 Series","LandCruiser",2007,"White",78)

car.attributes()
car.updatename("Cruiser")
car.attributes()
car.updatecolor("Balck")
car.attributes()

Car:
Car attributes :,J200 Series,LandCruiser,2007,White,78
Car attributes :,J200 Series,Cruiser,2007,White,78
Car attributes :,J200 Series,Cruiser,2007,Balck,78

Split a string of your choice after every 3 characters and then join the split strings back in a
random order (as in each time the join command is run the output, or order of the joined string,
should be different).
Example: If the string is 'Coding is fun', after splitting it’ll look like this - 'Cod', 'ing', '
is', ' fu', 'n', and after joining it back it’ll look like this - 'Cod isn fuing'

In [16]:
mainstr="Coding is fun"
str=[mainstr[i:i+3] for i in range(0,len(mainstr),3)]
print(str)
print(" ".join(set(str)))

['Cod', 'ing', ' is', ' fu', 'n']
n  fu  is ing Cod

Create a class Students which has attributes RollNo, PhoneNo, Grade (like 5th grade or 6th
grade etc), Name. Make another class called Sports which inherits from Students class. This
new class has all the previous attributes along with the Sport attribute (Assume the Data Types
accordingly).
● Display all the attributes of students
● Display the Sport a student plays
● Change the PhoneNo of a student and show the change
● Change the Sport of a student and show the change
● Delete a student from the Sports class and display the message '<student name>
doesn't play sports anymore.

In [22]:
class Student:
  def __init__(self, rollNo, phoneNo, Grade, Name):
    print("Student info")
    self.rollNo = rollNo
    self.phoneNo = phoneNo
    self.Grade = Grade
    self.Name = Name
  def info(self):
    print("Name:", self.Name, "\nGrade:",self.Grade,"\nrollNo:",self.rollNo,"\nphoneNo:",self.phoneNo)

In [34]:
s1 = Student(341,509781806,"Grade 10","Abinav")
s1.info()

Student info
Name: Abinav
Grade: Grade 10
Roll: 341
Phone: 509781806

In [32]:

class sport(student):
  def __init__(self, rollNo, PhoneNo, Grade,Name,sport):
    print("Student Profile")
    self.rollNo=rollNo
    self.PhoneNo=PhoneNo
    self.Grade=Grade
    self.Name=Name
    self.sport=sport

  def game(self):
    print("Sport played by "+self.Name+" is "+self.sport)  

  def change_phoneno(self,PhoneNo):
    self.PhoneNo=PhoneNo

  def change_sport(self,sport):
    self.sport=sport   

  def __del__(self):
    print(self.Name+" doesn't play sports anymore")

In [ ]:
stud=sport(342,509781806,"Grade 9 ","Abinav","Football")

stud.game()
print("Updated")
stud.change_phoneno(506942134)
stud.profile()

In [ ]:
print("Updated")
stud.change_sport("Chess")
stud.game()

In [ ]:
del stud