Q1. What is 7.3 plus 5+4j?

In [1]:
x = 5+4j
y = x + 7.3
print(y)

(12.3+4j)

Q1. Are 4e4 and 4E4 same? Check using a python operator.

It does not matter if you use e or E, both are the same thing , called exponent.

In [8]:
a = 4e4
b = 4E4
if a == b :
  print ("they are the same")
else :
  print ("they are not the same")

they are not the same

Q1. if c = 3 + 5j, store it’s real and imaginary parts into r and i variables
respectively.

In [13]:
c = 3+5j
r = c.real
i = c.imag
print ("the real part of c is ",r)
print("the imaginary part of c is ",i)

the real part of c is  3.0
the imaginary part of c is  5.0

q1. Call the euler’s number e and truncate the decimal part of the number and store
that into a variable.

In [14]:
import math
E = math.exp(1)
print(E)
print(int(E))

2.718281828459045
2

Q2. Pass a dictionary into a function and print the elements of the dictionary.

In [17]:
def function (**a):
  print(a)
function (red="#FF0000",blue="#0000FF",green="#008000")

{'red': '#FF0000', 'blue': '#0000FF', 'green': '#008000'}

Q3. Print the factorial of a user input number.

In [18]:
n = int(input("Enter value for n: "))
x=1
while(n>1):
  x=n*x
  n-=1
print(x)

Enter value for n: 3
6

Q4. Print a Fibonacci series upto the given number.

In [19]:
n = int(input("Enter the number of terms: "))
n1=0
n2=1
Sum=0
i=1
print("The fibonacci series-")
while(i<=n):
  print(Sum)
  n1=n2
  n2=Sum
  Sum=n1+n2
  i=i+1

Enter the number of terms: 10
The fibonacci series-
0
1
1
2
3
5
8
13
21
34

Q5.Given an array of integers,find the sum of positive and negative numbers
separately and print "POSITIVE" if sum of positive numbers is greater than the
absolute value of the sum of negative numbers, else print "NEGATIVE".

In [24]:
A = []
n = int(input("Enter total number of elements: "))
positive = 0
negative = 0
for i in range(0,n):  
 x = int(input("Enter element: "))
 A.append(x)
if(A[i]>=0):
  positive = positive + A[i]
else:
  negative = negative + A[i]

if(positive>abs(negative)):
  print('POSITIVE')
else:
  print('NEGATIVE')

Enter total number of elements: 4
Enter element: 10
Enter element: -9
Enter element: 7
Enter element: 5
POSITIVE

Q6. Given a string, return a string of the same length where the vowels are in the first
and the consonants are in the last. But the inner order of vowels and consonants
should not change.
ex:- "hbefabjbaofb" -> "eaaohbfbjbfb"

In [25]:
a=input('Enter a statement:  ')
b=''
c=''
e=''
for i in range(0,len(a)):
  if(a[i]=='a' or a[i]=='e' or a[i]=='i' or a[i]=='o' or a[i]=='u' or a[i]=='A' or a[i]=='E' or a[i]=='I' or a[i]=='O' or a[i]=='U'):
    b+=a[i]
  else:
    c+=a[i]

e=b+c
print(str(e))

Enter a statement:  i live in a pineapple under the sea
iieiaieaeueeea lv n  pnppl ndr th s

Q7. Write a code which returns the first m multiples of a natural number n, without
using any loop.

In [26]:
n=int(input('enter the number '))
m=int(input('enter the number of multiples '))
a=range(n,m*n+1,n)
print(*a)

enter the number 33
enter the number of multiples 6
33 66 99 132 165 198